.btn {
	background-color: #fff;
	color: #000;
}

.btn-primary {
		color: #000;
	}

.btn-secondary {
		color: #fff;
	}

.btn {
		color: var(--primary-400);
	}

.btn {
		color: var(--secondary-400);
	}
