.btn {
	background-color: getColors(secondary);
	color: getColors(primary);
}

@each $color in getColors(){
	.btn-$(color) {
		color: getColors($color);
	}
}

@each $color in getColorObjects(){
	.btn {
		color: var(--$(getItem($color, color)));
	}
}
